.mySpaceContainer {
  padding-left: 10px;
}
.mainSpace {
  height: 450px;
  width: 100vw;
  position: relative;
}
.topSpace {
  margin-top: 50px;
  gap: 2rem;
  width: 15rem;
  position: absolute;
  right: 14%;
}
.topSpace .spaceBtn {
  display: flex;
  padding: 12px 16px;
  font-weight: 600;
  line-height: 40px;
  width: 100%;
  font-family: sans-serif;
  background-color: hsl(0deg 0% 100% / 8%);
  border-radius: 8px;
  gap: 5px;
  border: none;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  align-items: center;
}
.topSpace .spaceBtn:hover {
  background-color: hsl(0deg 0% 100% / 30%);
}
.spaceBtn span {
  font-size: 20px;
}
.midSpace {
  position: absolute;
  top: 25%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.midSpace img {
  width: 250px;
  margin-bottom: 15px;
}
.midSpace h1 {
  color: #e1e6f0;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 15px;
}
.midSpace p {
  color: #8f98b2;
  font-size: 20px;

  margin-bottom: 15px;
}
.logButton {
  display: flex;
  gap: 10px;
}
.loginBtn:hover {
  transform: scale3d(1.05, 1.05, 1) perspective(500px);
}

.logoutBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3rem;
}
.logoutBtn {
  background: red;
}
